<div class="admin-page-subheader">
		<div class="container-fluid">
			<div class="row">
				<div class="col-9">
					<h1 class="display-4">Сервисные центры</h1>
					<div class="subheader">Управление и настройка сервисных центров</div>
				</div>
				<div class="col-3">
					<div class="admin-top-right-panel">
						<a href="" class="btn btn-primary btn-lg">Сохранить</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-9">
						<nav class="admin-horisontal-menu">
							<a href="" class="admin-h-menu-element">Просмотр</a>
							<a href="" class="admin-h-menu-element active">Редактирование</a>
							<a href="" class="admin-h-menu-element">Удалить</a>
							<a href="" class="admin-h-menu-element">История</a>
							<a href="" class="admin-h-menu-element disabled-link">Админство выключенная ссылка</a>
						</nav>
				</div>
			</div>
		</div>
	</div>
	
		<form method="POST" action="/admin/var_dump">
	
	<div class="main-admin-content">
		
		
			
	 
		<div class="content-submenu  ">
			 
			<div class="admin-content-horisontal-menu">
				<a href="" class="admin-content-h-menu-element">Общие данные</a>
				<a href="" class="admin-content-h-menu-element active">Характеристики</a>
				<a href="" class="admin-content-h-menu-element">Параметры SEO</a>
				<a href="" class="admin-content-h-menu-element">Импорт</a>
			
			</div>
		</div >
		 
		<div class="container-fluid main-admin-elements">
			   <div style="display:none;">
							<iframe name="tinymce_file_upload_iframe" ></iframe>

							<form enctype="multipart/form-data" class="js-tinymce-file-upload-form" target="tinymce_file_upload_iframe" method="POST" action="/admin/tinymce-file-upload" >
							<input class="js-tinymce-file-upload" accept="image/jpeg,image/png,image/gif" name="image" type="file" /> 
							<input name="base64" id="base64"  value="" type="hidden" /> 
							</form>
						</div>
			
			<div class="row form-group">
				
				<label class="col-2 col-form-label">Имя</label>
				<div class="col-10">
					 <input type="text" class="form-control"  placeholder="Любое имя">
				</div>
			</div>
			
		
	 
			<!-- <div class="row form-group"> -->
				
				<!-- <label class="col-2 col-form-label">Загрузите файл</label> -->
				<!-- <div class="col-8" > -->
					 <!-- <input type="text" class="form-control"  placeholder=""> -->
					  <!-- <small   class="form-text text-muted">Вариант 1.2.</small> -->
				<!-- </div> -->
				<!-- <div class="col-2" style="max-width:200px;"> -->
					<!-- <a href="" style="display:block;" class="btn btn-outline-dark">Обзор...</a> -->
				<!-- </div> -->
			<!-- </div> -->
			
		
			<div class="row form-group">
				
				<label class="col-2 col-form-label">Загрузите файл</label>
				<div class="col-10" >
					<div class="input-group" >
						<input type="text" class="form-control">
						<div class="input-group-append">
							<a href="" style="display:block;" class="btn btn-outline-dark">Обзор...</a>
						</div>
					</div>
					<small   class="form-text text-muted">Вариант 2.</small>
				</div>
				 
			</div>
			
			
			
			
			
			
		 
	 	<div class=" subheader_legend row">	
	  
			<div class="col-12">
			 
			  
				<h4>Подзаголовок</h4>
				<p class="lead">Загрузите файл и надмите сохранить чтобы начать импорт</p>
			  
			</div>
		 
			</div>
			 
				
				
				
				
			
			<div class="row form-group">
				
				<label class="col-2 col-form-label">Адрес</label>
				<div class="col-10">
					 <input type="text" class="form-control"  placeholder="">
					  <small   class="form-text text-muted">Может быть любым числом от 1 до 10.</small>
				</div>
			</div>
			
			<div class="row form-group">
				
				<label class="col-2 col-form-label">URL</label>
				<div class="col-10">
					 <input type="text" class="is-invalid form-control"  placeholder="">
					   <div class="invalid-feedback">
						  Адрес введён неверно
						</div>
					  <small   class="form-text text-muted">Введите адрес в формате УЛЛУЛУЛУ ГГ ДД КВ</small>
				</div>
			</div>		
				
						
			
		 
			<div class=" subheader_legend row">	
	  
			<div class="col-12">
			 
			  
				<h4>Настройки импорта</h4>
				 
			</div>
		 
			</div>
				
			
			<div class="row form-group">
				
				<label class="col-2 col-form-label">Адрес</label>
				<div class="col-10">
					 <input type="text" class="form-control"  placeholder="">
					  <small   class="form-text text-muted">Может быть любым числом от 1 до 10.</small>
				</div>
			</div>
			
			<div class="row form-group">
				
				<label class="col-2 col-form-label">URL</label>
				<div class="col-10">
					 <input type="text" class="is-invalid form-control"  placeholder="">
					   <div class="invalid-feedback">
						  Адрес введён неверно
						</div>
					  <small   class="form-text text-muted">Введите адрес в формате УЛЛУЛУЛУ ГГ ДД КВ</small>
				</div>
			</div>
			
			
			
			
			
			<div class="row form-group">
				
				<label class="col-2 col-form-label">Изображения</label>
				<div class="col-10">
					 
				 
					
					
					
					<div class="row no-gutters rounded">
					
				 
					
					@ for ($i=0; $i<=8; $i++){ $j = $i*13;
						<!-- <img src="/cms/external/svg_icons/placeholder.svg" style="width:100%;" class="img-thumbnail"> -->
						
						<div class="col-3 "  >
						<div class="card image-elements-element"  >
						  <img class="card-img-top card-img-bottom" src="https://picsum.photos/200/200?image={=$j}" alt="Card image cap">
							<div class="card-img-overlay image-elements-on-hover">
							  
							  <a href="#" class="badge badge-primary">Изменить</a>
							  <a href="#" class="badge badge-danger">Удалить</a>
							  
							  
							  </div>
						</div>
						</div>


					@}
					<div class="col-3 "  >
					
						<div class="card  "  >
						  <a href=""><img class="card-img-top" src="/cms/external/svg_icons/big-plus.svg" alt="Card image cap"></a>
							 
						</div>
						</div>
						
						
						
				 
					 
					</div>
					
					 
					 
				</div>
			</div>
			
			
			<div class="row form-group">
				<div class="col-10 offset-2">
					<label class="custom-control custom-checkbox" style="   user-select: none;  display: inline-block;">
						<input type="checkbox" name="is_in_main" class="custom-control-input" >
						<span class="custom-control-label"  >Выводить на главной</span>
					</label>
				</div>
			</div>
			
			
			<div class="row form-group">
				
				<label class="col-2 col-form-label">Текст</label>
				<div class="col-10">
					<textarea  name="xx" class="js-tinymce4 ui-widget-content ui-corner-all" style="width:500px;">sdas dasd asd</textarea>
				</div>
			</div>
				
				
				
				
			<div class="row  ">	
			<div class="col-12">
			 <div class="jumbotron jumbotron-fluid">
			  <div class="container">
				<h1 class="display-4">Импорт данных</h1>
				<p class="lead">Загрузите файл и надмите сохранить чтобы начать импорт</p>
			  </div>
			</div>
			</div>
			</div>

<div class="row form-group">
				
				<label class="col-2 col-form-label">Загрузите файл</label>
				<div class="col-10" >
					<div class="input-group" >
						<input type="text" class="form-control">
						<div class="input-group-append">
							<a href="" style="display:block;" class="btn btn-outline-dark">Обзор...</a>
						</div>
					</div>
					<small   class="form-text text-muted">Вариант 2.</small>
				</div>
				 
			</div>
			
			<div class="row form-group">
				
				
				<div class="col-2">
					
				</div>
				<div class="col-10">
						<button type="submit" class="btn btn-primary">Сохранить</button>
						<input type="reset" class="btn btn-secondary" value="Очистить">
						<button type="submit" class="btn btn-secondary">Отмена</button>
				</div>
			</div>			
				
			<div class="row">
				<div class="col">
					
					 <div class="alert alert-info">
					 
						В процессе разработки. Если вы видите это сообщение, установите $_ENV['DOIT_ADMIN_VERSION']='1' или уберите переменную $_ENV['DOIT_ADMIN_VERSION'] вообще.
					 </div>
				</div>
			</div>
			
		 </div>
	 </div>
	 
			</form>