<div class="admin-page-subheader">
		<div class="container-fluid">
			<div class="row">
				<div class="col-9">
					<h1 class="display-4">Пустая страница</h1>
				 
				</div>
				 
			</div>
		 
		</div>
	</div>
	
	
	<div class="main-admin-content">
		
		
			
	 
		 
		<div class="container-fluid main-admin-elements">
		<form method="POST" action="/admin/var_dump">
			  
			
			<div class="row  ">
				
			 
				<div class="col-12">
					<p>Тут ничего нет</p>
				</div>
			</div>
			
		
	   
			
			</form>
		 </div>
	 </div>
	 