<!doctype html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
		<title>Панель администрирования</title>
		<link href="/cms/admin/assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="/cms/admin/assets/css/main.css" rel="stylesheet">
		<script src="/cms/admin/assets/js/jquery-3.3.1.min.js"></script>
		<script src="/cms/admin/assets/js/jquery-migrate-1.4.1.min.js"></script>
			<script src="/cms/external/ace/ace.js"></script>
		 
	</head>
	<body>
	<nav class="sidebar">
		v.m.
	</nav>
	<nav class="menubar">
		тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню 
		тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню тутм еню 
		 
	</nav>
	<section>


	<div class="container-fluid">
		<div class="row">
			<div class="col">
				Добро пожаловать <a href="/admin/logout">Выход</a>
				 
				 
				 <div class="control-group">
					  <label class="control-label"  >{title}</label>
					  <div class="controls">
						 <form method="POST" action="/admin/var_dump">
							<textarea  name="xx" class="js-tinymce4 ui-widget-content ui-corner-all" style="width:500px;">sdas dasd asd</textarea>
							<input type="submit">
						</form>
					  </div>
					</div>
				   
				   <div style="display:none;">

						<iframe name="tinymce_file_upload_iframe" ></iframe>

						<form enctype="multipart/form-data" class="js-tinymce-file-upload-form" target="tinymce_file_upload_iframe" method="POST" action="/admin/tinymce-file-upload" >
						<input class="js-tinymce-file-upload" accept="image/jpeg,image/png,image/gif" name="image" type="file" /> 
						<input name="base64" id="base64"  value="" type="hidden" /> 
						</form>
					</div>
					<script type="text/javascript">
					$(function(){
							$('.js-tinymce-file-upload').on('change',function(){
								if ($(this).val()!=''){
									$('.js-tinymce-file-upload-form').submit();     
								} 
								$('.js-tinymce-file-upload').val('');
							});
					  })
					</script>
					<script src="/cms/external/tinymce4/tinymce.min.js"></script> 
					 <script>
					 window.tmp_tinymce_editor = false;
					 $(function(){
						tinymce.init({
							  selector: '.js-tinymce4',
							  height: 300,   toolbar_item_size: "small",
							  width:940,
							  theme: 'modern',
							  language: 'ru',
							  plugins: 'save paste   custom_modules    code searchreplace autolink     visualblocks visualchars fullscreen image link media template  table charmap hr pagebreak nonbreaking anchor toc   advlist lists textcolor imagetools contextmenu colorpicker textpattern help',
		  toolbar1: 'save code   custom_modules | undo redo | fullscreen  formatselect   bold italic strikethrough charmap   forecolor backcolor | link simages image insert | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat',
							remove_trailing_brs: false,
							menubar: false,
							  templates: [ ],
							  content_css: [ ],
							  branding: false,
							  elementpath: false,
								setup: function (editor) {
									editor.addButton('simages', {
										icon: 'image',
										image: '/cms/internal/gfx/image-add.gif',
										onclick: function () {
											window.tmp_tinymce_editor = editor;
											$('.js-tinymce-file-upload').trigger('click');
										}
									});
								 } 
						 
						 });

					 });
					 </script>
				 
				 
				 <div class="alert alert-info">
				 
					В процессе разработки. Если вы видите это сообщение, установите $_ENV['DOIT_ADMIN_VERSION']='1' или уберите переменную $_ENV['DOIT_ADMIN_VERSION'] вообще.
				 </div>
			</div>
		</div>
	 </div>
	 
	 	</section>
	</body>
</html>
