<!doctype html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
		<title>Панель администрирования</title>
		<link href="/cms/admin/assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="/cms/admin/assets/css/main.css" rel="stylesheet">
		<script src="/cms/admin/assets/js/jquery-3.3.1.min.js"></script>
		<script src="/cms/admin/assets/js/jquery-migrate-1.4.1.min.js"></script>
			<script src="/cms/external/ace/ace.js"></script>
		 
	</head>
	<body>
	<div class="menuheader">
		 
	</div>
	<nav class="sidebar">
		<a href="#" class="admin-menu-icon active">
			<img src="/cms/external/svg_icons/icon-content.svg" alt="">
			<span>Контент</span>
		</a>
		
		<a href="#" class="admin-menu-icon">
			<img src="/cms/external/svg_icons/icon-settings.svg" alt="">
			<span>Настройки</span>
		</a>
		
		<a href="#" class="admin-menu-icon">
			<img src="/cms/external/svg_icons/icon-developer.svg" alt="">
			<span>Разработка</span>
		</a>
		
		<a href="#" class="admin-menu-icon">
			<img src="/cms/external/svg_icons/icon-logs.svg" alt="">
			<span>Логи</span>
		</a>
		
		<a href="/admin/logout" class="admin-menu-icon last-icon">
			<img src="/cms/external/svg_icons/icon-exit.svg" alt="">
			<span>Выход</span>
		</a>
		
		
	</nav>
	<nav class="menubar">
		<a href="" class="admin-menu-element active">Текстовые страницы</a>
		<a href="" class="admin-menu-element">Рубрики</a>
		<div class="admin-menu-elements-group">
			<a href="" class="admin-menu-element with-plus js-admin-menu-element">Каталог</a>
			<a href="" class="admin-menu-subelement">Характеристики</a>
			<a href="" class="admin-menu-subelement">Категории</a>
			<a href="" class="admin-menu-subelement active">Импорт</a>
			
		</div>
		<a href="" class="admin-menu-element">Опции</a>
	 	 
	</nav>
	<section>
	<header>
		 
	</header>
	<div class="admin-page-subheader">
		<div class="container-fluid">
			<div class="row">
				<div class="col-9">
					<h1 class="display-4">Сервисные центры</h1>
					<div class="subheader">Управление и настройка сервисных центров</div>
				</div>
				<div class="col-3">
					<div class="admin-top-right-panel">
						<a href="" class="btn btn-primary btn-lg">Сохранить</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-9">
						<nav class="admin-horisontal-menu">
							<a href="" class="admin-h-menu-element">Просмотр</a>
							<a href="" class="admin-h-menu-element active">Редактирование</a>
							<a href="" class="admin-h-menu-element">Удалить</a>
							<a href="" class="admin-h-menu-element">История</a>
							<a href="" class="admin-h-menu-element disabled-link">Админство</a>
						</nav>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="main-admin-content">
		
		
			
	 
		<div class="content-submenu  ">
			 
			<div class="admin-content-horisontal-menu">
				<a href="" class="admin-content-h-menu-element">Общие данные</a>
				<a href="" class="admin-content-h-menu-element active">Характеристики</a>
				<a href="" class="admin-content-h-menu-element">Параметры SEO</a>
				<a href="" class="admin-content-h-menu-element">Импорт</a>
			
			</div>
		</div >
		 
		<div class="container-fluid main-admin-elements">
		<form method="POST" action="/admin/var_dump">
			   <div style="display:none;">
							<iframe name="tinymce_file_upload_iframe" ></iframe>

							<form enctype="multipart/form-data" class="js-tinymce-file-upload-form" target="tinymce_file_upload_iframe" method="POST" action="/admin/tinymce-file-upload" >
							<input class="js-tinymce-file-upload" accept="image/jpeg,image/png,image/gif" name="image" type="file" /> 
							<input name="base64" id="base64"  value="" type="hidden" /> 
							</form>
						</div>
			
			<div class="row form-group">
				
				<label class="col-2 col-form-label">Имя</label>
				<div class="col-10">
					 <input type="text" class="form-control"  placeholder="Любое имя">
				</div>
			</div>
			
			
			<div class="row form-group">
				
				<label class="col-2 col-form-label">Адрес</label>
				<div class="col-10">
					 <input type="text" class="form-control"  placeholder="">
					  <small   class="form-text text-muted">Может быть любым числом от 1 до 10.</small>
				</div>
			</div>
			
			
			<div class="row form-group">
				
				<label class="col-2 col-form-label">Текст</label>
				<div class="col-10">
					<textarea  name="xx" class="js-tinymce4 ui-widget-content ui-corner-all" style="width:500px;">sdas dasd asd</textarea>
				</div>
			</div>
				
				
			
			<div class="row form-group">
				
				
				<div class="col-2">
					
				</div>
				<div class="col-10">
						<button type="submit" class="btn btn-primary">Сохранить</button>
						<input type="reset" class="btn btn-secondary" value="Очистить">
						<button type="submit" class="btn btn-secondary">Отмена</button>
				</div>
			</div>			
				
			<div class="row">
				<div class="col">
					
					 <div class="alert alert-info">
					 
						В процессе разработки. Если вы видите это сообщение, установите $_ENV['DOIT_ADMIN_VERSION']='1' или уберите переменную $_ENV['DOIT_ADMIN_VERSION'] вообще.
					 </div>
				</div>
			</div>
			
			</form>
		 </div>
	 </div>
	 
	 	</section>
		
		
		
			<script type="text/javascript">
						$(function(){
						
						$('.js-admin-menu-element').on('click',function(){
							$(this).parent().toggleClass('active');
							return false;
						});
								$('.js-tinymce-file-upload').on('change',function(){
									if ($(this).val()!=''){
										$('.js-tinymce-file-upload-form').submit();     
									} 
									$('.js-tinymce-file-upload').val('');
								});
						  })
						</script>
						<script src="/cms/external/tinymce4/tinymce.min.js"></script> 
						 <script>
						 window.tmp_tinymce_editor = false;
						 $(function(){
							tinymce.init({
								  selector: '.js-tinymce4',
								  height: 300,   toolbar_item_size: "small",
								  width:750,
								  theme: 'modern',
								  language: 'ru',
								  paste_data_images: true,
								  plugins: 'save paste   custom_modules    code searchreplace autolink     visualblocks visualchars image link media template  table charmap hr pagebreak nonbreaking anchor toc   advlist lists textcolor imagetools contextmenu colorpicker textpattern help',
			  toolbar1: 'save code   custom_modules | undo redo |  formatselect   bold italic strikethrough charmap   forecolor backcolor | link simages image insert | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat',
								remove_trailing_brs: false,
								menubar: false,
								  templates: [ ],
								  content_css: [ ],
								  branding: false,
								  
								   images_upload_url: '/admin/tinymce-file-upload',
								  images_upload_base_path: '',
								  images_upload_credentials: true,
								  
	  
								  elementpath: false,
									setup: function (editor) {
										editor.addButton('simages', {
											icon: 'image',
											image: '/cms/internal/gfx/image-add.gif',
											onclick: function () {
												window.tmp_tinymce_editor = editor;
												$('.js-tinymce-file-upload').trigger('click');
											}
										});
									 } 
							 
							 });
								 
						 });
						 </script>
					 
					 
					 
	</body>
</html>
