ul#admin_main_user_menu, ul#admin_main_user_menu li, ul#admin_main_user_menu a, ul#admin_main_user_menu ul
{
	-webkit-padding-start: 0;
	padding:0;
	margin:0;
	text-indent:0;
    text-align:left;
	border:none;
	
}
ul#admin_main_user_menu:before, ul#admin_main_user_menu li:before, ul#admin_main_user_menu a:before, ul#admin_main_user_menu ul:before,
ul#admin_main_user_menu:after, ul#admin_main_user_menu li:after, ul#admin_main_user_menu a:after, ul#admin_main_user_menu ul:after
{
	content: none;
}
ul#admin_main_user_menu ul li {
    list-style:none;

}
ul#admin_main_user_menu
{
	list-style:none;
	position:relative;
	height:30px;
	padding:0;
	width:100%;
}

ul#admin_main_user_menu>li
{

	float:left;
	position:relative;

    list-style:none;
	line-height:30px;
	font-family:Arial, sans-serif;
	font-size:12px;
	color:white;
	
}
ul#admin_main_user_menu li a
{

    line-height:30px;
    font-family:Arial, sans-serif;
    font-size:12px;
    color:white;

	margin:0;
	padding-left:15px;
	padding-right:15px;
	display:block;
	text-decoration:none;
	background:none;
	color:#999;
}
ul#admin_main_user_menu li:hover
{
	/*background:#5C5C5C;*/
}
ul#admin_main_user_menu li:hover>a
{
	color:white;
}
ul#admin_main_user_menu>li>ul
{
	display:none;
	padding:0;
	position:absolute;
	left:0;
	background:#2C2C2C;
}
ul#admin_main_user_menu>li:hover>ul
{
	display:block;
}
ul#admin_main_user_menu>li>ul li
{
	width:200px;
    list-style:none;
    line-height:30px;
    font-family:Arial, sans-serif;
    font-size:12px;
    color:white;
	
}
.adm_icon {
 display:inline-block !important;
 vertical-align:middle !important;
 width:16px !important;
 height:15px !important;
 line-height:15px !important;
 font-size:10px !important;
 padding:0 !important;
 margin: 0 !important;
 border:none !important;
 border-radius: none !important;
 background-image: none !important;
}
.adm_icon:hover {
 color:inherit !important;
 background:none !important;
 transition:none !important;
}
.adm_icon:before, .adm_icon:after { content: none !important; }
.adm_icon img {
 padding:0 !important;
 border:none !important;
 width:16px !important;
 height:15px !important;
 line-height:15px !important;
 font-size:10px !important;
 box-shadow: none !important;
}
